<div class="quizz__container"> <div class="quizz_logo"><img src="https://imgs.search.brave.com/UwVQ_LsOGPW7x0QNG_drOtQQ6dH_KZg7lIxhNxND4B8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jb21w/YW5pZXNsb2dvLmNv/bS9pbWcvb3JpZy9C/WkZEX0JJRy01NWZm/ZjhkZC5wbmc_dD0x/NzIwMjQ0NDkx" alt="">
<h3>{{title}}</h3></div>

<div
*ngIf=!finished class="quizz_questions"><h3>{{questionSelect.question}}</h3></div>
<div *ngIf=!finished class="quizz_options">
  <button
   *ngFor="let option of questionSelect.options; let i = index"
  (click)="playerChoose(option.alias)" class="btn-option"> {{option.name}}</button>
</div>
<div *ngIf=finished class="quizz_results">
  <h1>{{answerSelect}}</h1>
</div></div>
