<div class="quizz__container"> <div class="quizz_logo"><img src="https://imgs.search.brave.com/UwVQ_LsOGPW7x0QNG_drOtQQ6dH_KZg7lIxhNxND4B8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jb21w/YW5pZXNsb2dvLmNv/bS9pbWcvb3JpZy9C/WkZEX0JJRy01NWZm/ZjhkZC5wbmc_dD0x/NzIwMjQ0NDkx" alt="">
<h3>titulo</h3></div>
<div class="quizz_questions"><h3>{{questionSelect.question}}</h3></div>
<div class="quizz_options">
  <button class="btn-option"> optionname</button>
</div>
<div *ngIf=findshwed class="quizz_results">
  <h1>o seu resultado é:</h1>
</div></div>
